.pagination {
   display: flex;
   list-style-type: none;
   width: 80%;
   /* justify-content: flex-end; */
   height: 50px;
   align-items: flex-end;
}

.pagination a {
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
   border: 1px solid black;
   cursor: pointer;
}

.pagination a:hover {
   background-color: #6b7b7a;
}

.activeBtn a {
   background-color: rgb(92, 118, 117);
   color: #fff;
}